.AppGrid {
  text-align: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vw;
}

.App {
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vw;
}
