.App {
  text-align: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.Tile {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
