/* Courtesy of stack overflow */
.Tile {
    padding: 15px;
    transition: all .3s ease-in-out;
}

.Tile:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}